<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="index.html"><i class="fas fa-film"></i> Movie Finder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="toprated.html">Top Rated</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Genres</a></li>
            </ul>
            <div class="search-container d-flex align-items-center">
                <input type="text" id="searchInput" class="search-input form-control mr-2" placeholder="Search for movies..." />
                <button id="searchIcon" class="btn btn-outline-light"><i class="fas fa-search"></i></button>
            </div>
            <div class="toggle ml-3">
                <i class="fas fa-moon toggle-icon"></i>
                <i class="fas fa-sun toggle-icon"></i>
                <div class="toggle-ball"></div>
            </div>
        </div>
    </div>
</nav>


