/* Toggle button styles */
.toggle {
    width: 50px;
    height: 25px;
    background-color: #ddd; 
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    padding: 0 5px;
    cursor: pointer;
    margin-left: auto; 
  }
  
  .toggle-icon {
    color: #f1c40f; 
    font-size: 14px;
    display: block; 
  }
  
  .toggle-ball {
    width: 20px;
    height: 20px;
    background-color: #ffffff; 
    position: absolute;
    left: 5px; 
    border-radius: 50%;
    transition: all 0.3s ease; 
  }
  
  
  .dark-mode .toggle-ball {
    background-color: #333;
    left: calc(100% - 25px); 
  }
  
  
  .dark-mode .toggle-icon.fa-moon {
    display: block; 
  }
  
  .dark-mode .toggle-icon.fa-sun {
    display: none; 
  }
  
  
  .dark-mode body {
    background-color: #121212; 
    color: #ffffff; 
  }
  
  .dark-mode header {
    background-color: #1e1e1e; 
  }
  
  .dark-mode h1 {
    color: #ffffff; 
  }
  
  .dark-mode input {
    background-color: #333; 
    color: white; 
  }
  
  .dark-mode button {
    background-color: #333; 
    color: white; 
  }
  
  .dark-mode .movie-card {
    background-color: #333; 
    color: white; 
  }
  
  
  .dark-mode .movie-card h3 {
    color: white; 
  }
  

  .dark-mode {
    background-color: #121212; 
    color: #ffffff; 
  }
  
  
  .dark-mode section {
    background-color: #121212; 
  }
  
  
  .dark-mode #closeBtn,
  .dark-mode #searchIcon,
  .dark-mode #searchBtn {
      color: #f1c40f; 
  }
  
  .dark-mode .search-input {
      background-color: #333; 
      color: #fff; 
  }
  
  .dark-mode .search-input::placeholder {
      color: #aaa; 
  }

  .dark-mode a {
    color: #ffffff;
  }

  .dark-mode .movie-details p {
    color: #ddd;
  }

  .dark-mode #movieDetails h1 {
    color: #ffffff;
  }



/* Seach Bar Styles */
.search-input {
  width: 0;
  opacity: 0;
  padding: 10px 40px 10px 30px;
  font-size: 16px;
  border-radius: 25px;
  border: 1px solid #ccc;
  transition: width 0.4s ease, opacity 0.4s ease; 
}

.search-input.expanded {
  width: 200px;
  opacity: 1;
}

#searchIcon {
  color: #676767;
  cursor: pointer;
}