.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

#movieResults h2 {
  color: gray;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.movie-card {
  display: flex;
  gap: 15px;
  padding: 10px 10px;
  color: gray;
  align-items: flex-start; 
  border-left: 5px solid transparent;
  min-height: 250px; 
  flex-wrap: wrap; 
}

.movie-card img {
  width: 150px;
  height: 225px; 
  border-radius: 10px;
  transition: border 0.05s ease-in-out;
}

.movie-card img:hover {
  border: 3px solid #4dbf00; 
}

.movie-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 225px; 
  overflow: hidden; 
}

.movie-details h3 {
  margin: 0;
  font-size: 1.8rem;
  color: #4dbf00;
  display: flex;
  align-items: center;
  margin-bottom: 1rem; 
}

.movie-details h3 a {
  text-decoration: none;
  color: #4dbf00;
  transition: color 0.3s ease-in-out;
}

.movie-details h3 a:hover {
  color: #8ce639;
}

.movie-year {
  font-size: 1.3rem;
  color: #999;
  margin-left: 10px;
}

.movie-details p {
  margin-right: 10px;
  font-size: 0.9rem;
  color: #000;
  margin-bottom: auto; 
  overflow: hidden; 
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical; 
  text-overflow: ellipsis; 
  white-space: normal; 
}

.movie-details p.long-description {
  overflow: auto; 
  max-height: 5.4rem; 
}

.movie-card.expanded .movie-details p {
  white-space: normal;
  overflow: visible;
}

.movie-director {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #000;
}

.separator {
  border: none;
  border-bottom: 1px solid #444;
  margin: 15px 0;
}

.no-poster {
  width: 150px; 
  height: 225px;
  object-fit: contain; 
  background-color: #f0f0f0; 
  border: 1px solid #ccc; 
}

.pagination-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 2rem;
  
}

.pagination-button {
  padding: 8px 16px;
  background-color: #4dbf00;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

.pagination-button:hover {
  background-color: #3a9e00;
}

.pagination-button.active {
  background-color: #2f7a00;
}